:root {
    --main-color: hsl(0, 0%, 7%);
    --red-color: #1f1e1e;
    --light-color: #FFFFFF;
    --max-width: 300px;
}

* {
    box-sizing: border-box;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 0;
margin: 0;
overflow: hidden;
font-size: 25px;
}

.stopwatch-section {
    height: 100vh;
    width: 100vw;
    background-color: #1b2a30;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stopwacth-container {
    background-color: #1b2a30;
    width: 65%;
    height: 600px;
    border-radius: 90px;
    border: 30px solid whitesmoke;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: center; 
    --max-width: var(var(--max-width))
}
h1 {
    margin: 0;
    font-size: 9rem;
    color: rgb(255, 254, 254);
    letter-spacing: 2px;
}
h3 {
    color: #FFFFFF;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}
.btn {
    padding: 40px 60px;
    width: 250px;
    border-radius: 25px;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600
}

@media (hover:hover) {
    .btn:hover {
        background-color: transparent;
        color: var(--light-color);

    }
}